<section class="todoapp">
   <header class="header">
     <h1>todos</h1>

     <form id="new-form">
       <input class="new-todo" placeholder="What needs to be done?" autofocus="">
    </form>

    
   </header>
 <section class="main">
    <ul class="todo-list">
     <li>
       <div class="view">
         <input class="toggle" type="checkbox">
          <label>Do Laundry</label>
       </div>
     </li>
    </ul>
  </section>
</section>

<section class="author">
  A <%= link_to "todo-mvc", "http://todomvc.com" %>
  application, built by
  <%= link_to "Mike Vieira", "http://mikevieira.getforge.io/" %>
</section> 